.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 2em;
  justify-content: center;
  margin: auto;
}

.color {
  width: 33%;
}

.selected {
  width: 40%;
  border: 2pt black groove
}

select {
  padding: .5em;
  font-weight: bold;
  border: 2px inset #000;
  background-color: #fff;
}