@import "variables.scss";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Special Elite", "Courier New", serif;
}

.container-fluid {
    width: 85% !important;
    margin-bottom: 2rem;
}

.main-container {
    padding: 0;
    border: 5pt ridge $bluemint;
    background-color: $greenwhite;
    max-width: 95%;
    .row {
    padding-top: 2rem;
    }
    .form-bottom {
        height: 3em;
        background-color: $greenwhite;
    }

    .form-group{
        margin: 0;
        padding: 0;
        text-align: left;
        label {
            color: #145b4f;
            font-weight: 600;
            border: 1pt solid #d3d0d0;
            border-bottom: none;
            padding: .25em .5em;
            background-color: #f6f6f6;
            margin-top: 1em;
            margin-bottom: 0;
            font-variant: small-caps;
            letter-spacing: .15rem;
        }
        ul {
            display: inline !important;
            li {
                list-style-type: none;
            }
        }
        .img{
            margin-bottom: 1em;
            img {
                vertical-align: middle;
                width: 100%;
            }
        }

        .explorer {
            .file-img {
                width: 128px;
                text-align: center;
                padding: .5em;
                padding-bottom: 0;
            }
            div {
                max-width: 128px;
                text-align: center;
            }
            a {
                text-align: center;
                width: 128px;
                padding: 0.5em;
            }
        }
    }
}

.explore-container {
    background-color: $darkblue;
    color: $lightmint;
    border: 5pt outset $bluemint;
    min-width: 10rem;
    padding: 1em;
    .link-up{
        font-weight: bold;
        color: red;
        font-size: 2em;
        text-decoration: none;
        &:hover{
            color:white;
        }
    }
    &:hover {
        color: red;
    }
    .file {
        .icon-small {
            width: 1.25rem;
            height: 1rem;
            margin-left: 0.5em;
        }
    }
    a {
        &.folder{
            &:hover{
                color: red;
            }
        }
        color: $bluemint;
        &:hover{
            white-space: nowrap;
            color: $greenwhite;
            font-weight: bold;
        }
    }
}

.row {
    &.path-panel {
        border: 3pt ridge $bluemint;
        border-bottom: none;
        padding-left: .5em;
        background-color: $lightmint;
        .nav-item {
            .nav-link {
                padding: .1rem .25rem;
                color: $greygreen;
                &:hover {
                    font-weight: 600;
                }
                &.disabled{
                    font-weight: 600;
                    color: $darkblue;
                }
            }
        }
    }
}


h1 {
    font-size: 5rem;
}

h4 {
    margin-top: 0.5em;
}

strong {
    font-size: 1.1em;
}

.navbar-brand {
    height: auto;
}

a {
    &.folder {
        color: $lightmint;
        font-weight: bold;
        &:visited,
        &:active,
        &:link {
            color: "yellow";
        }
        &:hover {
            cursor: pointer;
            text-decoration: none;
            color: $greenwhite;
        }
    }
}

.btn-blue {
    color: $darkblue;
    background-color: $lightmint;
    border: 5px groove $bluemint;
    font-weight: bold;
    &:hover {
        color: $lightmint;
        border-style: ridge;
        background-color: $darkblue;
        transition: all 250ms ease-in-out;
    }
}
