@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
}

.container, .container-fluid {
    width: 100%;
}

.primary {
    background-color: rgb(245, 237, 238);
}

.secondary {
    background-color: #444;
    color: #FFF;
}

li {
    list-style-position: inside;
    margin-left: 1em;
}

h1, h2, h3, h4, strong {
    font-family: 'Special Elite', "Courier New", serif;
}

h1 {
    font-size: 5rem;
}

strong {
    font-size: 1.1em;
}

.navbar-brand {
    height: auto;
}
